
<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >

    <div [formGroup]="chngpswdFormGroup" (ngSubmit)="doSubmit()" fxLayout="column wrap">
        <mat-form-field  [appearance]="appearance">
            <mat-label>Old Password</mat-label>
            <input  matInput placeholder="Old Password..." formControlName="oldpassword" [type]="oldpwdhide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="oldpwdhide = !oldpwdhide">
                <mat-icon>{{oldpwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="chngpswdFormGroup.controls['oldpassword'].invalid">{{getErrorMessage(chngpswdFormGroup.controls['oldpassword'])}}</mat-error>
            <mat-hint align="end">Enter Old Password</mat-hint>
        </mat-form-field>
        <mat-form-field  [appearance]="appearance" >
            <mat-label>New Password</mat-label>
            <input  matInput placeholder="New Password..." formControlName="newPassword" [type]="pwdhide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="pwdhide = !pwdhide">
                <mat-icon>{{pwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="chngpswdFormGroup.controls['newPassword'].invalid">{{getErrorMessage(chngpswdFormGroup.controls['newPassword'])}}</mat-error>
            <mat-hint align="end">Enter New Password</mat-hint>
        </mat-form-field>
        <mat-form-field  [appearance]="appearance">
            <mat-label>Confirm Password</mat-label>
            <input  matInput placeholder="Confirm Password..." formControlName="confirmPassword" [type]="cnfPwdhide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="cnfPwdhide = !cnfPwdhide">
                <mat-icon>{{cnfPwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="chngpswdFormGroup.controls['confirmPassword'].invalid">{{getErrorMessage(chngpswdFormGroup.controls['confirmPassword'])}}</mat-error>
            <mat-hint align="end">Confirm Password</mat-hint>
        </mat-form-field>
    </div>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onCancel()" cdkFocusInitial>Cancel</button>
        <button mat-button (click)="doSubmit()">Ok</button>
    </mat-card-actions>
</mat-card>
